@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>information au Sénégal <a href="http://www.seneweb.com">Pays de la téranga</a>.</p>
    <label for="nom">Nom <em>*</em></label>
    <input id="nom" placeholder="Olivier-Serre" autofocus="" required=""><br>
    <label for="Prenom">Prenom <em>*</em></label>
    <input id="Prenom" placeholder="Serre" autofocus="" required=""><br>
    <label for="telephone">Portable</label> 
    <input id="telephone"  placeholder="06xxxxxxxx"><br>
    <label for="email">Email <em>*</em></label>
    <input id="email" type="email" placeholder="prenom.nom@polytechnique.edu" required="" pattern="[a-zA-Z]*.[a-zA-Z]*@polytechnique.edu"><br>
    <select id="sexe">
       <option value="F" name="sexe">Femme</option>
       <option value="H" name="sexe">Homme</option>
    </select><br>
</div>
